@charset "utf-8";
/* CSS Document */

@import url("https://use.typekit.net/vcb3nfa.css");
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24895');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24896');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24898');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24897');

h1{
	font-family: bely-display, sans-serif;
	color: #003457;
}

h2{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
}

h3{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
}

h4{
	font-family: bely-display, sans-serif;
	color: #003457;
}
p {
	font-family: bely-display, sans-serif;
	
}

.p2 {
	font-family: 'Century Gothic', sans-serif;
}

.text-under-collection {
	font-family: 'Century Gothic', sans-serif;
	color: white;
}

.nav-link{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
}

.navbar{
	background-color: #003457;
	z-index:2;
}

.close-navbar-toggler{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:1;
  cursor:pointer;
}

.close-navbar-toggler.collapsed{
  z-index:-1;
}

a{
	color: #1A537C
}

.shine{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our-vision{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	margin-top:60px;
	margin-bottom:30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}
.our-pearls {
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	margin-top:60px;
	margin-bottom:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.with-our-shell-hoodie {
	font-size: 20px
}

.shell-cart{
	margin-top: -20px;
	margin-bottom: -5px;
}

.button-log-in{
	border-color: #B6CAD6;
	background-color: transparent;
	color: #B6CAD6;
	font-family: bely-display, sans-serif;
}

.button-confirm{
	border-color: #003457;
	background-color: #003457;
	color: #B6CAD6;
	font-family: bely-display, sans-serif;
}

.button-collection {
	border-color: #B6CAD6;
	background-color: transparent;
	color: #B6CAD6;
	margin-top: 10px;
}

.button-colletion {
	border-color: #B6CAD6;
	background-color: #B6CAD6;
	color: #003457;
	margin-top: 10px;
}

.photo-together-in-car {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our-names {
	font-family: bely-display, sans-serif;
	font-weight: 100;
	color: rgba(0,51,88,1.00);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.text-our-mission{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text-our-story{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.photo-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pearl-you-desire {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.types{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:60px;
	margin-bottom:60px;
}

.midden{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.item-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: center;
}

.picture {
	margin: 20px;
}

.shell-text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	margin-top: -60px;
}

.row-midden{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.midden-shell{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 100px;
}

.row-margin{
	margin-top: 75px;
	margin-bottom: 50px;
}

.text-collection{
	text-align: center;
	color: #003457;
}

#background-video{
  width: 100%;
  height: 40%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.text-video {
	margin-top: 10vh;
	margin-bottom: 10vh;
	padding: 10px;
}


main {
  background-color: white;
  padding: 10px;
  position: relative;
}

.imgbox {
	display: grid;
	height: 100%;
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}

.imgbox-pearls{
	height: 100%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}

.center-fit-pearls{
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}


.margin-div {
	margin-left: 20px;
	margin-right: 20px;
}

#video-square{
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
