@charset "utf-8";
/* CSS Document */

@import url("https://use.typekit.net/vcb3nfa.css");
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24895');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24896');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24898');
@import url('http://fonts.cdnfonts.com/css/century-gothic?styles=24897');

h1{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
}
p {
	font-family: 'Century Gothic', sans-serif;
	
}

p2 {
	font-family: 'Century Gothic', sans-serif;
}

.nav-link{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
}

.navbar{
	background-color: #003457;
}

a{
	color: #1A537C
}

.shine{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	height:25px;
	margin-top:275px;
	margin-bottom:5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our-vision{
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	margin-top:60px;
	margin-bottom:30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}
.our-pearls {
	font-family: bely-display, sans-serif;
	color: #B6CAD6;
	margin-top:60px;
	margin-bottom:60px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.with-our-shell-hoodie {
	font-size: 20px
}

.shell-cart{
	margin-top: -20px;
	margin-bottom: -5px;
}
.button-colletion {
	border-color: #003457;
	color: #003457;
	margin-top: 10px;
}

.photo-together-in-car {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.our-names {
	font-family: bely-display, sans-serif;
	font-weight: 100;
	color: rgba(0,51,88,1.00);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.text-our-mission{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.photo-name {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pearl-you-desire {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.types{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:60px;
	margin-bottom:60px;
}

.middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;